
.roadmap {
  background-image: url('/src/assets/newroadmap.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  bottom: 0px;
  top: 0%;
  padding-bottom: 100px;
  width: 100%;
  text-align: left;
  min-height: 250vh;
}

.discords-item{
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 1700px;
  background-size: 100%;

}

.footer__item{
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 2250px;
  background-size: 100%;
}

.header-roadmap{  
  font-size: 20px;
  margin-top: 300px;
}

.header-roadmap > p{
  margin-top: 20px;
  padding-bottom: 56px;
  font-family: 'NexaLight';
}

.header-roadmap > h1{
  color: rgb(252, 252, 134);
  font-family: 'NexaBold';
  
}

.phase--container{
  background-color: transparent;
  font-size: 10px;
  padding-top: 250px;
  width: 100%;
  margin-left: 550px;
  max-width: 800px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}


.pre--phase{
  background-color: rgba(20, 20, 20, 0.2);
  color: #fff;
  font-size: 15px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 50px;
  
  
}

.pre--phase >h1{
  color: rgb(252, 252, 134); 
  padding-bottom: 20px;
  font-family: 'NexaBold';
}
.pre--phase >p{
  padding-top: 5px;
  font-family: 'NexaLight';
  
}

.phase--1{
  background-color: rgba(20, 20, 20, 0.2);
  color: #fff;
  font-size: 15px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 50px;

}
.phase--1 >h1{
  color: rgb(252, 252, 134);
  padding-bottom: 20px;
  font-family: 'NexaBold';
}
.phase--1>p{
  padding-top: 5px;
  font-family: 'NexaLight';
}

.phase--2{
  background-color: rgba(20, 20, 20, 0.2);
  color: rgba(253, 253, 253, 0.342);
  font-size: 15px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 50px;

} 

.phase--2 >h1{
  padding-bottom: 20px;
  font-family: 'NexaBold';
}

.phase--2 >p{
  padding-top: 5px;
  font-family: 'NexaLight';
}
.phase--3{
  background-color: rgba(20, 20, 20, 0.2);
  color: rgba(253, 253, 253, 0.342);
  font-size: 15px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 50px;

}
.phase--3 >h1{
  padding-bottom: 20px;
  font-family: 'NexaBold';
}

.phase--3>p{
  padding-top: 5px;
  font-family: 'NexaLight';
}

.roadmap-discord { 
  width: 100%;  
}

.roadmap-footer {  
  width: 100%;
  margin-top: 50px;
  text-align: center;    
}
 
@media screen and (max-width: 992px) {
  .phase--container {
    width: 90%;
    margin: 0 auto;    
  }
}
@media screen and (max-width: 600px) {
  .phase--container {
    padding-top: 150px;
  }
}


.roadmap-title {
  position: absolute;
  margin-left: 1450px; 
  margin-top: 50px; 
}

.roadmap-title>img{
  width: 80%;

}

@media screen and (max-width: 992px) {
  .roadmap-title {
    width: 0;
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .roadmap-title {
    width: 0;
    display: none;
  }
}