.gachapon {
  background-image:url('/src/assets/newgachapon.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 0px;
  top: 0%;
  width: 100%;
  padding-bottom: 100px;
  display: block;
}

.gachapon-content {
  background-color: transparent;
  font-size: 10px;
  padding: 0 90px;
  padding-top: 200px;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .gachapon-content {
    padding: 150px 20px 0;
  }
}
.gachapon-content>p1{
    padding-top: 200px;   
    font-size: 90px;
    padding-right: 20px;
    color: rgb(252, 252, 134);
    font-family: 'NexaBold';
    padding-left: 0;
    width: 100%;
    padding-right: 0;
    display: block;
  }
  .gachapon-content>p2{
    padding-top: 20px;    
    font-size: 90px;    
    color: rgb(252, 252, 134);
    font-family: 'NexaBold';
    width: 100%;
    text-align: center;
    display: block;
  }
  
  .gachapon-content>h1{
    color: rgb(252, 252, 134);
    font-size: 30px;
    font-family: 'NexaLight';
    text-align: left;
  }

.discord-join {
    /* margin-top: 1000px;
    top: 900px; */
    width: 100%;
    /* position: absolute; */
}

.gacha-footer {    
  width: 100%;
}
@media screen and (max-width: 600px) {
  .gachapon-content {
    padding: 150px 20px 0;
    height: 600px;
  }
  .gachapon-content>p1 {
    font-size: 50px;
    padding-top: 100px;
  }
  .gachapon-content>p2 {
    font-size: 50px;
  }
}