.genjimerch {
  background-image:url('/src/assets/newgenjimerch.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 0px;
  top: 0%;
  width: 100%;
  padding-bottom: 100px;
  display: grid;
}

.gachapon-content {
  background-color: transparent;
  font-size: 10px;
  height: 100vh;
}

.gachapon-content>p1{
  padding-top: 200px;  
  font-size: 90px;  
  color: rgb(252, 252, 134);
  font-family: 'NexaBold';
}
.gachapon-content>p2{
  padding-top: 20px;   
  font-size: 90px;
  color: rgb(252, 252, 134);
  font-family: 'NexaBold';
}
  
.gachapon-content>h1{
  color: rgb(252, 252, 134);
  font-size: 30px;
  font-family: 'NexaLight';
}

.discord-join {    
  width: 100%;   
}

.gacha-footer {    
  width: 100%;
  margin-top: 50px;
  text-align: left;
}

.gachapon-content>img{
  margin-top: 220px;
  margin-left: auto;
  display: flex;
  width: 35vw;
  max-width: 500px;
  min-width: 200px;
}
@media screen and (max-width: 600px) {
  .gachapon-content {
    padding: 150px 20px 0;
    height: 600px;
  }
  .gachapon-content>p1 {
    font-size: 50px;
    padding-top: 100px;
  }
  .gachapon-content>p2 {
    font-size: 50px;
  }
}