.tnc {
	background-image: url('/src/assets/bgtnc.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #f8f5b3;
	font-size: 100px;
	bottom: 0px;
	top: 0%;
	padding-bottom: 100px;
	width: 100%;
	text-align: left;
  }

.tnc--container {
	padding-top: 200px;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	font-size: 40px;      
}

.h1--container {
	padding: 150px 0;
	font-size: 20px;
	color: #f8f5b3;
}

.h2--container {
	padding: 150px 0;
	font-size: 20px;
	color: #f8f5b3;
}

.h3--container {
	padding: 150px 0;
	font-size: 20px;
	color: #f8f5b3;
}

.h4--container {
	padding: 150px 0;
	font-size: 20px;
	color: #f8f5b3;
}

.h5--container {
	padding: 150px 0;
	font-size: 20px;
	color: #f8f5b3;
}

.h6--container {
	padding: 150px 0;
	font-size: 20px;
	color: #f8f5b3;
}

.tnc-discord {
	width: 100%;	
}


.tnc-footer {
	width: 100%;
	margin-top: 50px;
	text-align: left;
}

@media screen and (max-width: 992px) {
	.h1--container, .h2--container, .h3--container, .h4--container, .h5--container, .h6--container {
		padding: 75px 0;
	}
}
@media screen and (max-width: 600px) {
	.h1--container, .h2--container, .h3--container, .h4--container, .h5--container, .h6--container {
		padding: 30px 0;
	}
	.h1--container h1, .h2--container h1, .h3--container h1, .h4--container h1, .h5--container h1, .h6--container h1 {
		font-size: 1.5rem;
	}
}