.App {
  text-align: center;
}

.home {
  background-image:url('/src/assets/blackbg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 0px;
  top: 0%;
  width: 100%;  
  padding-bottom: 100px;
}
.d-none {
  display: none !important;
}
@font-face {
  font-family: NexaLight;
  src: url('/src/assets/Fonts/nexalight.otf') format('opentype')
}

@font-face {
  font-family: NexaBold;
  font-weight: bold;
  src: url('/src/assets/Fonts/nexabold.otf') format('opentype')
}


.home-slider {
  padding: 0 1.5rem;
}
.home-slider .slick-dots {
  left: 0;
}
.video-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.video-loading video {
  object-fit: cover;
}
